body{
  position: relative;

  background: repeating-linear-gradient( -45deg, #000, #444 1px, #001 1px);

}


  /*--------------Navigation ------------------- */
.navBar {
  background: repeating-linear-gradient( 45deg, #000, #222 1px, #001 1px);
  display: grid;
  grid-template-columns: 1fr;

}

.navLinks {
margin: auto;
padding: 30px;
}

.navLink {
  padding: 30px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navLink:hover{
  background-color: white;
  color: black;
}





/* -------------------- Layout Homepage ------------------*/
.Home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 30px;
}

@media screen and (min-width: 900px) and (max-width: 1300px){
  .Home {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px){
  .Home{
    grid-template-columns: 1fr;
  }
}

/* --------------Styling Game Cards Homepage--------*/
.game{
  text-align: center;
  margin: 50px;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows: auto 1fr 40px;
  border-radius: 10px;

}


.game h1{
  grid-column: 1/4;
  grid-row: 1/2;
  height: 100%;
  background-color: black;
  color: white;
 padding-top: 10px;

}

.game--imgcontainer {
  grid-column: 1/4;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.game--imgcontainer img{
  width: 100%;
  grid-column: 1/4;
  grid-row: 1/3;
  max-height: 220px;
}

.game--imgcontainer .game--rating{
  width: 50%;
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 0 0 10px 10px;
}


.game--rating img{
  color: red;
  grid-column: 1/2;
  grid-row: 1/2;
}

.game--rating p {
 color: white;
 grid-column: 1/2;
 grid-row: 1/2;
 margin: auto;
}

.game--imgcontainer .game--released{
  margin: auto;
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: black;
  color: white;
  padding: 10px;
  opacity: 1;
}


.game--link {
  width: 100%;
  grid-column: 1/4;
}

.game--button{
   width: 100%;
   padding: 10px;
   font-size: 20px;
   border-radius: 5px;
}

.game--button:hover{
  background-color: lightblue;
  cursor: pointer;
  border: none;

  transform:scaleX(1.01);

}


/*  -------------Search Function ----------*/

.SearchGames{
  display: grid;
}

.SearchGames input {
  width: 50%;
  margin: auto;
  font-size: 20px;
  margin-top: 30px;
}




/* ------------------- Contact Form -----------------*/
.login {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}


.form--item{
  grid-column: 2/3;
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.form-item p{
  font-size: 10px;
}

 .form--item input{
  width: 99%;
}



/*---------------------- CharacterDetail ----------------------- */
  .CharacterDetail {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    margin-bottom: 100px;
  }

  @media screen and (min-width: 900px) and (max-width: 1300px){
    .CharacterDetail {

      grid-template-columns: 100px 1fr 100px;
    }
  }

  @media screen and (max-width: 900px) {
    .CharacterDetail {

      grid-template-columns: 20px 1fr 20px;
    }
  }

  .detail--title, .detail--image, .detail--description,.detail--link{
    grid-column: 2/3;
  }

  .detail--image{
    width: 100%;
  }

  .detail--description, .detail--title {
    color: white;
  }

  .detail--link{
   grid-column: 2/3;
   display: grid;
   grid-template-columns: 100%;
   margin-top: 20px;
  }

  .detail--link__button{
    display: block;
    width: 100%;
   font-size: 50px;

  }

  .detail--link__button:hover{
    background-color: lightblue;
    cursor: pointer;
    border: none;
    padding: 3px;
    transform: scaleY(1.03);
  }

  /* -------------footer -------------- */

  footer{
    display: grid;
    background-color: black;
    position: fixed;
    bottom: 0;
    border-right: 2px solid white;
    border-top: 2px solid white;


  }

  footer p{
    margin :auto;
      color: white;
      padding: 20px;
  }
